@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JeffLevine-NondescriptJNL';
  src: url('../fonts/JeffLevine-NondescriptJNL.otf') format('opentype');
}

@font-face {
  font-family: 'ITCBlair-CondensedMedium';
  src: url('../fonts/ITCBlair-CondensedMedium.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'JeffLevine-NondescriptJNL', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  font-family: 'ITCBlair-CondensedMedium', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}